visuallyhidden()
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;

resetvisuallyhidden()
  clip auto
  clip-path unset
  height inherit
  overflow visible
  position static
  width auto
