@require '../../styles/media'
@require '../../styles/theme/colors'

.configurator
  display flex
  flex-direction column
  +widerthan(mobile)
    flex-direction row
  
  &__dek
    line-height 1.5

  &__info
    flex 1 1 40%
    margin-right 20%

  &__estimated-section
    flex 1 1 60%

  &__estimated-values
    display flex
    justify-content space-between
    margin-top 3rem

  &__estimated-value
    display flex
    flex-direction column
    &:first-of-type
      margin-right 1rem

    & > span
      letter-spacing 1px
      text-align right
  
  &__result
    color primary

    &::before
      content '$'
      font-size .6em
      margin-right .5rem
