black2= #fafafa
black5=#f3f3f3
black10=#E6E6E6
ice-blue= #f9faff
cobalt-blue=#071eb3
white= #fff
greyish=#a5a5a5
light-yellow= #fdf6e3
dark-blue54= #586e75
background= ice-blue
navbar-bg=white
primary=cobalt-blue
