@require '../media'

weights = {
  medium: 600,
  black: 900,
  bold: 700,
  regular: 400
}

for size in 14 16 24 32 36 72
  for type in 'medium' 'black' 'bold' 'regular' 
    .roboto-{type}--{size}
      font-family Roboto, sans-serif
      if size > 24
        font-size (size / 20) rem
      else
        font-size (size / 16) rem
      font-weight: weights[type]
      +widerthan(mobile)
        font-size (size / 16) rem
